In [57]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [71]:
from geoplot.quad import QuadTree
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point

In [9]:
collisions = pd.read_csv("./data/NYPD Motor Vehicle Collisions.csv", index_col=0)
collisions = gpd.GeoDataFrame(collisions, geometry=collisions.apply(lambda srs: Point(srs['LONGITUDE'], srs['LATITUDE']), axis='columns'))

In [68]:
QuadTree(collisions.sample(10))

> /Users/Honors/Desktop/geoplot/geoplot/quad.py(9)__init__()
-> if bounds:
(Pdb) c

In [115]:
sample = collisions.sample(1000)

In [117]:
# sample['LOCATION']

In [118]:
QuadTree(sample).n

800

In [119]:
QuadTree(sample).bounds

(-74.234916799999993,
 -73.701905199999999,
 40.522782700000008,
 40.898785700000005)

In [120]:
test = QuadTree(sample).split()

In [121]:
[b.n for b in test]

[125, 113, 331, 228]

In [32]:
import shapely.geometry

In [35]:
shapely.geometry.Point.bounds?

In [39]:
collisions.head(10).geometry

DATE
11/10/2016                          POINT (nan nan)
11/10/2016                          POINT (nan nan)
11/10/2016                          POINT (nan nan)
11/10/2016            POINT (-73.9049732 40.599075)
11/10/2016    POINT (-73.79169940000001 40.6663098)
11/10/2016                          POINT (nan nan)
11/10/2016                          POINT (nan nan)
11/10/2016           POINT (-73.9313824 40.6661246)
11/10/2016     POINT (-73.95549150000001 40.620949)
11/10/2016                          POINT (nan nan)
Name: geometry, dtype: object

In [38]:
collisions.head(10).geometry.bounds.m

                 minx       miny       maxx       maxy
DATE
11/10/2016        NaN        NaN        NaN        NaN
11/10/2016        NaN        NaN        NaN        NaN
11/10/2016        NaN        NaN        NaN        NaN
11/10/2016 -73.904973  40.599075 -73.904973  40.599075
11/10/2016 -73.791699  40.666310 -73.791699  40.666310
11/10/2016        NaN        NaN        NaN        NaN
11/10/2016        NaN        NaN        NaN        NaN
11/10/2016 -73.931382  40.666125 -73.931382  40.666125
11/10/2016 -73.955492  40.620949 -73.955492  40.620949
11/10/2016        NaN        NaN        NaN        NaN

In [41]:
collisions.head(10).geometry.bounds[['minx', 'miny']].min()

minx   -73.955492
miny    40.599075
dtype: float64